.auto-style1 {
	font-family: Calibri;
}
.auto-style2 {
	color: #0000FF;
}

.auto-style3 {
	color: #05BC05;
}
.auto-style7 {
	color: #000000;
}
.auto-style9 {
	font-family: Calibri;
	font-weight: normal;
	font-size: medium;
	text-align: left;
	}
.auto-style10 {
	text-decoration: none;
	}
.auto-style11 {
	font-family: Calibri;
	font-size: small;
	font-weight: normal;
}
.auto-style12 {
	font-family: Calibri;
}

