<!DOCTYPE html>
<html>
  <head>
      <title>SigLyser - The signal processing application</title>
  	<style type="text/css">
.auto-style1 {
	font-family: Calibri;
	font-weight: normal;
	font-size: large;
	text-align: center;
}
.auto-style2 {
	color: #0000FF;
}
.auto-style3 {
	color: #05BC05;
}
.auto-style4 {
	text-align: center;
}
.auto-style5 {
	font-family: Calibri;
}
.auto-style6 {
	text-decoration: none;
}
.auto-style7 {
	color: #000000;
}
.auto-style8 {
	text-align: center;
	font-family: Calibri;
	font-size: xx-small;
}
</style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="auto-style1"><span class="auto-style2">Sig</span><span class="auto-style3">Lyser</span></h1>
		  <p class="auto-style1">The Signal Processing Application</p>
		  <nav>
          	<p class="auto-style4"><span class="auto-style5">
			<a href="{{ url_for('home') }}" class="auto-style6">
			<span class="auto-style7">Home</span></a></span>
			<span class="auto-style5">|
			<a href="{{ url_for('about') }}" class="auto-style6">
			<span class="auto-style7">About</span></a> |
			<a class="auto-style6" href="https://github.com/siglyser/siglyser" target="_blank">
			<span class="auto-style7">Contribute</span></a> | Contact |
			<a class="auto-style6" href="http://siglyser.wordpress.com" target="_blank">
			<span class="auto-style7">Blog</span></a></span></p>
        </nav>
      </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
    <p>&nbsp;</p>
	<p class="auto-style8">SigLyser by Pushkar Sheth 26 April 2018</p>
  </body>
</html>
