{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="auto-style1">Start - Read data from local drive:</p>
    <p class="auto-style1">Select .csv file to upload:</p>
	<form action="{{ url_for('sigsolver') }}" method="POST" enctype="multipart/form-data">
		<input title="Select file to read" placehoder="Select file to read" type="file" name="filedata" required />
		<button type="submit"> Start </button>
	</form>
<p class="auto-style1">---</p>
<p class="auto-style1">Your input file should be in the following format [X = time (seconds), Y = vibration data]:</p>
<p class="auto-style1">Currently only one vibration signal is supported - multiple time signal support will be added soon.</p>
	<p class="auto-style1">
	<img alt="Expected File Formatting" height="126" src="../static/images/fileformat.png" width="309"></p>
<p class="auto-style1">---</p>
</div>

{% endblock %}